@media screen and (max-width:1100px){
    .imgDespachoUno, .imgDespachoDos{
        height:250px;   
    }
}    
@media screen and (max-width:900px){
    .classLanding, .classLanding_m{
        padding: 15px 7% ;
    }
    .landingList, .landingList_m{
        padding: 15px 15%;
    }
    .logoEsther{
        height: 250px;
    }
    .btnwhatsapp{
        margin: 20px 27.5%;
        width: 45%;
        padding: 20px 5%;
    }
    .botonWhatsapp{
        margin: 20px 15%;
        width: 70%;
        padding: 20px 5%;
    }  
    .video{
        width: 100%;
        margin: 0 0;
    }
    section iframe{
        text-align: center;
        width: 100%;
        margin: 0 0;       
    }
    body section:nth-of-type(1) p {
        padding: 15px 7%  20px;
    }    
    .imgDespachoUno, .imgDespachoDos{
        height:230px;   
    }
}
@media screen and (max-width:700px){
    .classCond div:nth-of-type(1){
        padding: 20px 7% 20px;
    }
    .classCond h2{
        padding: 20px 0 30px; 
    }    
    .classCond div:nth-of-type(2){
        padding: 20px 0 20px;
}
    .classCond div:nth-of-type(2) h4{
        font-size: 18px;
        padding-bottom: 10px ;
    }
    .classCond div:nth-of-type(2) ul li{
        list-style: disc;
        padding: 5px 0;
        margin: 0 12%;
    }
    .classCond div:nth-of-type(3) h4{
        font-size: 18px;
        padding-bottom: 10px ;
    } 
    .classCond div:nth-of-type(3){
        padding: 20px 7% 20px;
    }
    .classCond div:nth-of-type(3) ul li{
        margin: 0 6%;
        padding: 5px 0;
    }
    .classCond div:nth-of-type(4) h3{
        padding-top: 20px;   
    }
    .classCond div:nth-of-type(4) div{
        padding: 0 0;
    }    
    .classCond div:nth-of-type(4) div.logoEsther{
        height: 200px;
    }
    .imgDespachoUno, .imgDespachoDos{
        width: 100%;
        float: none;
        height: 250px;
    }
    .imgDespachoUno{
        margin-right: 0;
        margin-bottom:10px;
    }
    
}    
@media screen and (max-width:600px){
    body{
        font-size: 14px; 
    }
    .classLanding, .classLanding_m{
        padding: 20px 5% ;
    }
    .landingList, .landingList_m{
        padding: 20px 9%;
    }    
    .logoEsther{
        height: 200px;
    }
    .classLanding h3, .landingList h3, .classLanding_m h3, .landingList_m h3{
        width: 90%;
        margin: 20px 5%;
        font-size: 19px;     
    }
    .btnwhatsapp{
        margin: 20px 12.5%;
        width: 75%;
        padding: 15px 5%;
        font-size: 18px;
    }
    .botonWhatsapp{
        margin: 20px 2.5%;
        width: 95%;
        padding: 15px 5%;
        font-size: 18px;
    }  
    section iframe{
        text-align: center;
        width: 100%;
        margin: 0 0;
    }
    .infoLanding div:nth-of-type(2){
        padding-bottom: 80px;
    }
    .infoLanding_m{
        padding: 30px 7% 80px;
    }
    .cajaLanding{
        width: 90%;
        margin: 35px 5%;       
    }
    .imgDespachoUno, .imgDespachoDos{
        height: 190px;
    }
}