
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
body {
    height: 100%;
    text-align: justify;
    font-size: 15px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    background-color: #ffffff;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: #4b4b4b;
}

html {
    background-color: #ffffff;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: #4b4b4b;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}

@media screen and (max-width: 600px) {
    .primero, .primero {
        padding: 20px 5%;
    }
}
@media screen and (max-width: 900px) {
    .primero, .primero {
        padding: 15px 7%;
    }
}
.primero {
    background: url(/landing/fondos/verde5.webp) center center no-repeat;
    background-size: cover;
    padding: 30px 18%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
body {
    height: 100%;
    text-align: justify;
    font-size: 15px;
}
html {
    background-color: #ffffff;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: #4b4b4b;
}

/*cosas mias*/
u {
    text-decoration: underline;
}
.centrado { text-align: center;
    
}